<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace命名空间，指定的是Dao -->
<mapper namespace="com.aiuiot.cloud_note.dao.UserDao">
	
	<!-- 登录 指定id、参数类型、结果类型 -->
	<select id="findByName" parameterType="String" resultType="com.aiuiot.cloud_note.entity.User">
		SELECT
			*
		FROM
			cn_user
		WHERE
			cn_user_name = #{name}
	</select>
	
	<!-- 注册 指定id、参数类型 -->
	<insert id="save" parameterType="com.aiuiot.cloud_note.entity.User">
		INSERT INTO cn_user(
			cn_user_id,
			cn_user_name,
			cn_user_password,
			cn_user_nick,
			cn_user_token)
		VALUES(
			#{cn_user_id},
			#{cn_user_name},
			#{cn_user_password},
			#{cn_user_nick},
			#{cn_user_token})
	</insert>
	
	<!-- 根据用户ID查询 -->
	<select id="findByUserId" parameterType="String" resultType="com.aiuiot.cloud_note.entity.User">
		SELECT
			*
		FROM
			cn_user
		WHERE
			cn_user_id = #{userId}
	</select>
	
	<!-- 根据用户名修改密码 -->
	<update id="updatePassword">
		UPDATE
			cn_user
		SET
			cn_user_password = #{cn_user_password}
		WHERE
			cn_user_id = #{cn_user_id}
	</update>
</mapper>